*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1750px;
    margin: 0 auto;
}

.calculatordiv{


    .calculator{
        margin:  auto;
        margin-top: 50px;
        width: 270px;
        height: fit-content;
        background-color: black;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 4fr 8fr;
        

        .input-div{
            display: flex;
            justify-content: center;
            align-items: flex-end;
          
          .input{
           width: 270px;
           height: 50px;
           font-size: 40px;
           color: white;
           padding: 0 10px;
           text-align: right;
           overflow-x: hidden;
          }
        }
      
    }
}
.btn-group{
    display: grid;
    grid-template-columns: 9fr 3fr;
    
    padding: 10px;

    .button-div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .section{
            display: flex;
            gap: 10px;
            .chng-all{
                width: 50px;
                height: 50px;
                 border-radius: 50%;
                 border: none;
                 font-size: 24px;
                 background-color: #A9A9A9;
                 color: white;
                 cursor: pointer;
              }
        .chng-spcl{
            width: 110px;
            height: 50px;
            border-radius: 50px;
            border: none;
            background-color: #343434;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
       .chng-nbr{
        width: 50px;
        height: 50px;
         border-radius: 50%;
         border: none;
         background-color: #343434;
         font-size: 24px;
         color: white;
         cursor: pointer;
       }

       .chng-trouble{
        width: 50px;
        height: 50px;
         border-radius: 50%;
         border: none;
         font-size: 24px;
         background-color: #A9A9A9;
         color: #3F3F3F;
         cursor: pointer;
       }
        }
      
       } 
        
       .sum{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .chng-all{
            width: 50px;
            height: 50px;
             border-radius: 50%;
             border: none;
             background-color:#FFA11D;
             font-size: 24px;
             color: white;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
          }
       }
        

        


}